.js-comic {
  font:inherit;
  width:100%;
  margin-right:auto;
  margin-left:auto;
  position:relative;
  -webkit-box-sizing:padding-box;
  -moz-box-sizing:padding-box;
  box-sizing:padding-box;
}
.js-comic-loading {
  position:absolute;
  top:0;
  left:0;
  padding:1em;
  display:none;
}
.js-comic blockquote,
.js-comic h1,
.js-comic h2,
.js-comic h3,
.js-comic h4,
.js-comic h5,
.js-comic h6,
.js-comic ol,
.js-comic p,
.js-comic pre,
.js-comic table,
.js-comic ul {margin:.5em 0 0}
.js-comic blockquote:first-child,
.js-comic h1:first-child,
.js-comic h2:first-child,
.js-comic h3:first-child,
.js-comic h4:first-child,
.js-comic h5:first-child,
.js-comic h6:first-child,
.js-comic ol:first-child,
.js-comic p:first-child,
.js-comic pre:first-child,
.js-comic table:first-child,
.js-comic ul:first-child {margin-top:0}
.js-comic ol,
.js-comic ul {margin-left:1.5em}
.js-comic ol {list-style-type:decimal}
.js-comic ul {list-style-type:square}
.js-comic li {list-style:inherit}
.js-comic-width,
.js-comic-height {
  min-height:5em;
  -webkit-transition:all .5s ease;
  -moz-transition:all .5s ease;
  transition:all .5s ease;
  -webkit-transition-property:width,height;
  -moz-transition-property:width,height;
  transition-property:width,height;
}
.js-comic-ads img,
.js-comic-image img {
  display:block;
  margin:0 auto;
  padding:0;
  border:0;
  outline:0;
  background:none;
  box-shadow:none;
  border-radius:0;
  width:auto;
  height:auto;
  min-width:0;
  min-height:0;
  max-width:none;
  max-height:none;
  opacity:1;
  visibility:visible;
  /* to fade-in after container resize, we need a transition delay as long as the resize transition duration */
  -webkit-transition:all 1s ease .5s;
  -moz-transition:all 1s ease .5s;
  transition:all 1s ease .5s;
  -webkit-transition-property:opacity,visibility;
  -moz-transition-property:opacity,visibility;
  transition-property:opacity,visibility;
}
.js-comic.loading {cursor:progress}
.js-comic.loading .js-comic-image {background:transparent url('data:image/gif;base64,R0lGODlhEgAEAKEAAH9/fwAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJDwACACwAAAAAEgAEAAACB5SPqcvtrwoAIfkECQ8AAgAsAAAAAAQABAAAAgSEjwkFACH5BAkPAAIALAAAAAALAAQAAAIMjCMJC4fKXBKsnVkLACH5BAkPAAIALAAAAAASAAQAAAIRjCN5mOCwkojt0Xnkg1l1sRUAIfkECQ8AAgAsAAAAABIABAAAAhGEIRkbKRwOUsxBaStdeDdfAAAh+QQJDwACACwHAAAACwAEAAACDIQhGRuHylwSrJ1ZCwAh+QQFDwACACwOAAAABAAEAAACBISPCQUAOw==') no-repeat 50% 50%}
.js-comic.loading .js-comic-image img {
  opacity:0;
  visibility:hidden;
}
.js-comic-content {
  padding:1em 0;
  display:none;
}
.js-comic.step-0 .js-comic-content {display:block}
.js-comic.step-0 .js-comic-content:empty {display:none}
.js-comic-image,
.js-comic-content {margin-bottom:4px}
.js-comic-controls p {margin:0}
.js-comic-controls::after {
  content:"";
  display:table;
  clear:both;
}
.js-comic-controls a,
.js-comic-controls b,
.js-comic-controls span {
  display:block;
  font:inherit;
  text-decoration:none;
  height:auto;
}
.ltr .js-comic-controls a,
.ltr .js-comic-controls b,
.ltr .js-comic-controls span {
  float:left;
  margin-right:.5em;
}
.rtl .js-comic-controls a,
.rtl .js-comic-controls b,
.rtl .js-comic-controls span {
  float:right;
  margin-left:.5em;
}
.ltr .js-comic-controls p > span,
.rtl .js-comic-controls p > span {
  background:none;
  padding:0;
  margin:0;
}
.js-comic-controls h3 {
  font:inherit;
  margin:0;
  padding:0;
  height:auto;
}
.ltr .js-comic-controls h3 {float:right}
.rtl .js-comic-controls h3 {float:left}
.js-comic-controls p > span a:focus,
.js-comic-controls p > span a:hover {text-decoration:none}
.js-comic-controls p > span b {
  cursor:default;
  cursor:not-allowed;
}
.js-comic-controls p > span span {background:none}
.js-comic .js-comic-ads,
.js-comic .js-comic-ads li {
  margin:0;
  padding:0;
  list-style:none;
}

.js-comic .js-comic-ads li::after {
  content:"";
  display:table;
  clear:both;
}
.js-comic .js-comic-ads {padding:.5em 0}
.js-comic img + .js-comic-ads {margin-top:4px}
.js-comic .js-comic-ads li {padding:.5em 1em}
.js-comic-ads h3 {
  font:inherit;
  margin:0;
}
.js-comic-ads h3 a {
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.js-comic-ads p {
  margin:0;
  font-size:.8em;
}
.js-comic-ads .img {background:rgba(0,0,0,.05)}
.ltr .js-comic-ads img,
.ltr .js-comic-ads .img {
  float:left;
  margin-right:1em;
}
.rtl .js-comic-ads img,
.rtl .js-comic-ads .img {
  float:right;
  margin-left:1em;
}