.js-next.loading {cursor:progress}
.js-next-content {margin-bottom:1em}
.js-next-controls p {margin:0}
.js-next-controls::after {
  content:"";
  display:table;
  clear:both;
}
.js-next-controls a,
.js-next-controls b,
.js-next-controls span {
  display:block;
  font:inherit;
  text-decoration:none;
  height:auto;
}
.ltr .js-next-controls a,
.ltr .js-next-controls b,
.ltr .js-next-controls span {
  float:left;
  margin-right:.5em;
}
.rtl .js-next-controls a,
.rtl .js-next-controls b,
.rtl .js-next-controls span {
  float:right;
  margin-left:.5em;
}
.ltr .js-next-controls p > span,
.rtl .js-next-controls p > span {
  background:none;
  padding:0;
  margin:0;
}
.js-next-controls h3 {
  font:inherit;
  margin:0;
  padding:0;
  height:auto;
}
.ltr .js-next-controls h3 {float:right}
.rtl .js-next-controls h3 {float:left}
.js-next-controls p > span a:focus,
.js-next-controls p > span a:hover {text-decoration:none}
.js-next-controls p > span b {
  cursor:default;
  cursor:not-allowed;
}
.js-next-controls p > span span {background:none}
.js-next-ads,
.js-next-ads li {
  margin:0;
  padding:0;
  list-style:none;
}
.js-next-ads li::after {
  content:"";
  display:table;
  clear:both;
}
.js-next-ads li + li {margin-top:1em}
.js-next-ads h3 {
  font:inherit;
  margin:0;
}
.js-next-ads h3 a {
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.js-next-ads p {
  margin:0;
  font-size:.8em;
}
.js-next-ads img {
  display:block;
  margin:0 auto;
  padding:0;
  border:0;
  outline:0;
  background:none;
  box-shadow:none;
  border-radius:0;
  width:auto;
  height:auto;
  min-width:0;
  min-height:0;
  max-width:none;
  max-height:none;
  opacity:1;
  visibility:visible;
}
.js-next-ads .img {background:rgba(0,0,0,.05)}
.ltr .js-next-ads img,
.ltr .js-next-ads .img {
  float:left;
  margin-right:1em;
}
.rtl .js-next-ads img,
.rtl .js-next-ads .img {
  float:right;
  margin-left:1em;
}