.stacked-toc {
  margin-right:auto;
  margin-left:auto;
  border:1px solid;
  clear:both;
}

.stacked-toc :focus {outline:0}

.stacked-toc.ltr {
  direction:ltr;
  text-align:left;
}

.stacked-toc.rtl {
  direction:rtl;
  text-align:right;
}

.stacked-toc a {text-decoration:none}

.stacked-toc-title {
  font:inherit;
  display:none;
}

.stacked-toc-header {
  margin:0;
  padding:0;
  display:block;
  position:relative;
  font-size:120%;
  line-height:3em;
  height:3em;
}

.stacked-toc-header a {
  display:block;
  padding:0 1em;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

.stacked-toc-panel,
.stacked-toc-panel li {
  margin:0;
  padding:0;
  list-style:none;
}

.stacked-toc-panel li {
  line-height:1.5;
  position:relative;
  overflow:hidden;
}

.has-image .stacked-toc-panel li {
  padding:.5em;
}

.stacked-toc-panel .stacked-toc-image,
.stacked-toc-panel .stacked-toc-time,
.stacked-toc-panel .stacked-toc-title,
.stacked-toc-panel .stacked-toc-excerpt {
  display:block;
  margin:0;
  padding:0;
}

.stacked-toc-panel .stacked-toc-title a,
.stacked-toc-panel .stacked-toc-time {
  display:block;
  padding:.25em .75em;
  font-size:.9em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.has-image .stacked-toc-panel .stacked-toc-title {
  font-size:1.25em;
  line-height:1.25em;
  margin:0 0 .5em;
}

.has-image .stacked-toc-panel .stacked-toc-title a {
  display:inline;
  font-weight:normal;
  padding:0;
  white-space:normal;
}

.stacked-toc-panel .stacked-toc-time {
  position:absolute;
  top:0;
  pointer-events:none;
}

.ltr .stacked-toc-panel .stacked-toc-time {right:0}
.rtl .stacked-toc-panel .stacked-toc-time {left:0}

.has-image .stacked-toc-panel .stacked-toc-time {
  position:static;
  padding:0;
  font-size:.75em;
  letter-spacing:.25em;
  text-transform:uppercase;
  pointer-events:auto;
}

.stacked-toc-panel .stacked-toc-title sup {
  font:inherit;
  font-weight:bold;
  color:#f00;
  display:inline-block;
  vertical-align:baseline;
  margin:0 .25em;
}

.has-image .stacked-toc-panel .stacked-toc-title sup {
  line-height:1;
  font-size:.75em;
  vertical-align:top;
  margin:0;
}

.stacked-toc-panel {
  -webkit-transition:height .6s ease;
  -moz-transition:height .6s ease;
  transition:height .6s ease;
}

.stacked-toc-panel li:first-child {border-top:1px solid}
.stacked-toc-panel li:last-child {border-bottom:1px solid}

.stacked-toc-panel .stacked-toc-loading {
  margin:0 1.5em;
  padding:1em 0;
  background:transparent url('data:image/gif;base64,R0lGODlhEgAEAKEAAH9/fwAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJDwACACwAAAAAEgAEAAACB5SPqcvtrwoAIfkECQ8AAgAsAAAAAAQABAAAAgSEjwkFACH5BAkPAAIALAAAAAALAAQAAAIMjCMJC4fKXBKsnVkLACH5BAkPAAIALAAAAAASAAQAAAIRjCN5mOCwkojt0Xnkg1l1sRUAIfkECQ8AAgAsAAAAABIABAAAAhGEIRkbKRwOUsxBaStdeDdfAAAh+QQJDwACACwHAAAACwAEAAACDIQhGRuHylwSrJ1ZCwAh+QQFDwACACwOAAAABAAEAAACBISPCQUAOw==') no-repeat 0% 50%;
  color:transparent;
  text-shadow:none;
  pointer-events:none;
}

.has-image .stacked-toc-panel .stacked-toc-image {
  display:block;
  float:left;
  margin:0 1em 0 0;
}

.has-image.rtl .stacked-toc-panel .stacked-toc-image {
  float:right;
  margin:0 0 0 1em;
}

.stacked-toc-panel .stacked-toc-image .img {background:rgba(0,0,0,.05)}
.stacked-toc-panel .stacked-toc-excerpt {margin:.5em 0 0}

.has-excerpt:not(.has-image) .stacked-toc-panel .stacked-toc-excerpt {
  font-size:.9em;
  padding:0 1em .75em;
}