.stacked-toc {
  margin-right:auto;
  margin-left:auto;
  border:1px solid;
  clear:both;
}

.stacked-toc :focus {outline:0}

.stacked-toc.ltr {
  direction:ltr;
  text-align:left;
}

.stacked-toc.rtl {
  direction:rtl;
  text-align:right;
}

.stacked-toc a {text-decoration:none}

.stacked-toc-title {
  font:inherit;
  margin:0;
  padding:0;
  display:none;
}

.stacked-toc-header {
  margin:0;
  padding:0;
  display:block;
  position:relative;
  font-size:120%;
  line-height:3em;
  height:3em;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
}

.stacked-toc-header a {
  display:block;
  padding:0 1em;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

.stacked-toc-header.active a {color:inherit}

.stacked-toc ol,
.stacked-toc li {
  margin:0;
  padding:0;
  list-style:none;
}

.stacked-toc li {
  padding:.25em 1.25em;
  line-height:1.5;
  position:relative;
  overflow:hidden;
}

.has-image li {padding:1.25em}

.stacked-toc-image,
.stacked-toc-time,
.stacked-toc-excerpt {
  display:block;
  margin:0;
  padding:0;
  overflow:hidden;
}

.stacked-toc li .stacked-toc-title {display:block}

.has-image li .stacked-toc-title {
  font-size:1.25em;
  line-height:1.25em;
  margin:-.25em 0 .5em;
}

.has-image li .stacked-toc-title a {
  display:inline;
  font-weight:normal;
  padding:0;
  white-space:normal;
}

.stacked-toc-time {
  display:block;
  padding:inherit;
  position:absolute;
  top:0;
}

.ltr .stacked-toc-time {right:0}
.rtl .stacked-toc-time {left:0}

.has-image .stacked-toc-time {
  position:static;
  padding:0;
  font-size:.75em;
  letter-spacing:.25em;
  text-transform:uppercase;
}

.stacked-toc-title sup {
  font:inherit;
  font-weight:bold;
  color:#f00;
  display:inline-block;
  vertical-align:baseline;
  margin:0 .25em;
}

.has-image .stacked-toc-title sup {
  line-height:1;
  font-size:.75em;
  vertical-align:top;
  margin:0;
}

.stacked-toc-panel {
  -webkit-transition:all .6s ease;
  -moz-transition:all .6s ease;
  transition:all .6s ease;
  -webkit-transition-property:height,margin-top,margin-bottom,padding-top,padding-bottom,border-top-width,border-bottom-width;
  -moz-transition-property:height,margin-top,margin-bottom,padding-top,padding-bottom,border-top-width,border-bottom-width;
  transition-property:height,margin-top,margin-bottom,padding-top,padding-bottom,border-top-width,border-bottom-width;
}

.stacked-toc .stacked-toc-loading,
.has-image .stacked-toc-image.loading {background:transparent url('data:image/gif;base64,R0lGODlhEgAEAKEAAH9/fwAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJDwACACwAAAAAEgAEAAACB5SPqcvtrwoAIfkECQ8AAgAsAAAAAAQABAAAAgSEjwkFACH5BAkPAAIALAAAAAALAAQAAAIMjCMJC4fKXBKsnVkLACH5BAkPAAIALAAAAAASAAQAAAIRjCN5mOCwkojt0Xnkg1l1sRUAIfkECQ8AAgAsAAAAABIABAAAAhGEIRkbKRwOUsxBaStdeDdfAAAh+QQJDwACACwHAAAACwAEAAACDIQhGRuHylwSrJ1ZCwAh+QQFDwACACwOAAAABAAEAAACBISPCQUAOw==') no-repeat 50% 50%}

.stacked-toc .stacked-toc-loading {
  margin:0;
  padding:.5em 0;
  background-position:1.25em 50%;
  color:transparent;
  text-shadow:none;
}

.rtl .stacked-toc-loading {background-position:calc(100% - 1.25em) 50%}

.has-image .stacked-toc-image {
  display:block;
  float:left;
  margin:0 1em 0 0;
}

.has-image.rtl .stacked-toc-image {
  float:right;
  margin:0 0 0 1em;
}

.has-image .stacked-toc-image img {
  opacity:1;
  visibility:visible;
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  transition:all 1s ease;
}

.has-image .stacked-toc-image.loading img {
  opacity:0;
  visibility:hidden;
}

.stacked-toc .img {background:rgba(0,0,0,.05)}
.stacked-toc-excerpt {margin:.5em 0 0}

.has-excerpt:not(.has-image) li {padding-bottom:.35em}
.has-excerpt:not(.has-image) li .stacked-toc-title {font-weight:bold}

@media (max-width:640px) {
  .stacked-toc-time {display:none}
}