.tabbed-toc {
  margin-right:auto;
  margin-left:auto;
  display:table;
  table-layout:fixed;
  border-collapse:collapse;
  width:100%;
  border:1px solid;
}

.tabbed-toc a {text-decoration:none}

.tabbed-toc-tabs,
.tabbed-toc-panels {
  display:table-cell;
  text-align:left;
  vertical-align:top;
  overflow:hidden;
}

.tabbed-toc-tabs {width:12em}
.tabbed-toc-panels {border-left:1px solid}

.tabbed-toc-title {
  font:inherit;
  margin:0;
  padding:0;
  display:none;
}

.tabbed-toc p,
.tabbed-toc-tabs,
.tabbed-toc-tab,
.tabbed-toc-panels,
.tabbed-toc-panel,
.tabbed-toc-panel li {
  margin:0;
  padding:0;
  list-style:none;
}

.tabbed-toc-tab {
  display:block;
  height:2.5em;
  line-height:2.5em;
  padding:0 1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.tabbed-toc-tab.active {color:inherit}

.tabbed-toc-panels .tabbed-toc-loading {
  padding:1em;
  background:transparent url('data:image/gif;base64,R0lGODlhEgAEAKEAAH9/fwAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJDwACACwAAAAAEgAEAAACB5SPqcvtrwoAIfkECQ8AAgAsAAAAAAQABAAAAgSEjwkFACH5BAkPAAIALAAAAAALAAQAAAIMjCMJC4fKXBKsnVkLACH5BAkPAAIALAAAAAASAAQAAAIRjCN5mOCwkojt0Xnkg1l1sRUAIfkECQ8AAgAsAAAAABIABAAAAhGEIRkbKRwOUsxBaStdeDdfAAAh+QQJDwACACwHAAAACwAEAAACDIQhGRuHylwSrJ1ZCwAh+QQFDwACACwOAAAABAAEAAACBISPCQUAOw==') no-repeat 1em 1em;
  color:transparent;
  text-shadow:none;
}

.tabbed-toc-panel li {
  line-height:1.5;
  position:relative;
  overflow:hidden;
}

.has-excerpt .tabbed-toc-panel li {padding:1em 1.25em}

.tabbed-toc-panel .tabbed-toc-title {
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.has-excerpt .tabbed-toc-panel .tabbed-toc-title {
  font-size:1.25em;
  line-height:1.25em;
  margin-bottom:.5em;
}

.tabbed-toc-panel .tabbed-toc-title a,
.tabbed-toc-panel .tabbed-toc-time {
  display:block;
  padding:.5em 1em;
  font-weight:bold;
  font-size:.9em;
}

.has-excerpt .tabbed-toc-panel .tabbed-toc-title a {
  display:inline;
  font-weight:normal;
  padding:0;
}

.tabbed-toc-panel .tabbed-toc-title sup {
  font:inherit;
  font-weight:bold;
  color:#f00;
  display:inline-block;
  vertical-align:baseline;
  margin-left:.5em;
}

.has-excerpt .tabbed-toc-panel .tabbed-toc-title sup {
  line-height:1;
  font-size:.75em;
  vertical-align:top;
  margin-left:0;
}

.tabbed-toc-panel .tabbed-toc-time {
  position:absolute;
  top:0;
  right:0;
  font-weight:normal;
}

.has-excerpt .tabbed-toc-panel .tabbed-toc-time {
  position:static;
  padding:0;
  font-size:.75em;
  letter-spacing:.25em;
  text-transform:uppercase;
}

.tabbed-toc-panel .tabbed-toc-image {display:none}

.has-excerpt .tabbed-toc-panel .tabbed-toc-image {
  display:block;
  float:left;
  margin:1em 1em .5em 0;
}

.tabbed-toc-panel .tabbed-toc-image .img {background:rgba(0,0,0,.05)}
.tabbed-toc-panel .tabbed-toc-excerpt {margin:.5em 0 0}

@media (max-width:750px) {
  .tabbed-toc,
  .tabbed-toc-tabs,
  .tabbed-toc-panels {
    display:block;
    width:auto;
  }
  .tabbed-toc-panels {
    border-left:0;
    border-top:1px solid;
  }
  .tabbed-toc-tab {float:left}
}