.tabbed-toc {
  margin-right:auto;
  margin-left:auto;
  display:table;
  table-layout:fixed;
  border-collapse:collapse;
  width:100%;
  border:1px solid;
  clear:both;
}

.tabbed-toc :focus {outline:0}

.tabbed-toc.ltr {
  direction:ltr;
  text-align:left;
}

.tabbed-toc.rtl {
  direction:rtl;
  text-align:right;
}

.tabbed-toc a {text-decoration:none}

.tabbed-toc nav,
.tabbed-toc section {
  display:table-cell;
  text-align:inherit;
  vertical-align:top;
  overflow:hidden;
}

.tabbed-toc-tabs {width:12em}
.ltr .tabbed-toc-panels {border-left:1px solid}
.rtl .tabbed-toc-panels {border-right:1px solid}

.tabbed-toc-title {
  font:inherit;
  margin:0;
  padding:0;
  display:none;
}

.tabbed-toc li,
.tabbed-toc nav,
.tabbed-toc ol,
.tabbed-toc section {
  margin:0;
  padding:0;
  list-style:none;
}

.tabbed-toc-tab {
  display:block;
  height:3em;
  line-height:3em;
  padding:0 1.25em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
}

.tabbed-toc-tab.active {color:inherit}

.tabbed-toc .tabbed-toc-loading,
.has-image .tabbed-toc-image.loading {background:transparent url('data:image/gif;base64,R0lGODlhEgAEAKEAAH9/fwAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJDwACACwAAAAAEgAEAAACB5SPqcvtrwoAIfkECQ8AAgAsAAAAAAQABAAAAgSEjwkFACH5BAkPAAIALAAAAAALAAQAAAIMjCMJC4fKXBKsnVkLACH5BAkPAAIALAAAAAASAAQAAAIRjCN5mOCwkojt0Xnkg1l1sRUAIfkECQ8AAgAsAAAAABIABAAAAhGEIRkbKRwOUsxBaStdeDdfAAAh+QQJDwACACwHAAAACwAEAAACDIQhGRuHylwSrJ1ZCwAh+QQFDwACACwOAAAABAAEAAACBISPCQUAOw==') no-repeat 50% 50%}

.tabbed-toc .tabbed-toc-loading {
  padding:1em;
  background-position:1em 1em;
  color:transparent;
  text-shadow:none;
}

.rtl .tabbed-toc-loading {background-position:calc(100% - 1em) 1em}

.tabbed-toc li {
  padding:.25em .75em;
  line-height:1.5;
  position:relative;
  overflow:hidden;
}

.has-image li {padding:1em}

.tabbed-toc-image,
.tabbed-toc-time,
.tabbed-toc-excerpt {
  display:block;
  margin:0;
  padding:0;
  overflow:hidden;
}

.tabbed-toc li .tabbed-toc-title {display:block}

.has-image li .tabbed-toc-title {
  font-size:1.25em;
  line-height:1.25em;
  margin:-.25em 0 .5em;
}

.tabbed-toc-title sup {
  font:inherit;
  font-weight:bold;
  color:#f00;
  display:inline-block;
  vertical-align:baseline;
  margin:0 .25em;
}

.has-image .tabbed-toc-title sup {
  line-height:1;
  font-size:.75em;
  vertical-align:top;
  margin:0;
}

.tabbed-toc-time {
  display:block;
  padding:inherit;
  position:absolute;
  top:0;
}

.ltr .tabbed-toc-time {right:0}
.rtl .tabbed-toc-time {left:0}

.has-image .tabbed-toc-time {
  position:static;
  padding:0;
  font-size:.75em;
  letter-spacing:.25em;
  text-transform:uppercase;
}

.has-image .tabbed-toc-image {
  display:block;
  float:left;
  margin:0 1em 0 0;
}

.has-image.rtl .tabbed-toc-image {
  float:right;
  margin:0 0 0 1em;
}

.has-image .stacked-toc-image img {
  opacity:1;
  visibility:visible;
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  transition:all 1s ease;
}

.has-image .stacked-toc-image.loading img {
  opacity:0;
  visibility:hidden;
}

.tabbed-toc .img {background:rgba(0,0,0,.05)}
.tabbed-toc-excerpt {margin:.5em 0 0}

.has-excerpt:not(.has-image) li {padding-bottom:.35em}
.has-excerpt:not(.has-image) li .tabbed-toc-title {font-weight:bold}

@media (max-width:750px) {
  .tabbed-toc,
  .tabbed-toc nav,
  .tabbed-toc section {
    display:block;
    width:auto;
  }
  .tabbed-toc section {border-top:1px solid}
  .tabbed-toc.ltr section {border-left:0}
  .tabbed-toc.rtl section {border-right:0}
  .tabbed-toc.ltr .tabbed-toc-tab {float:left}
  .tabbed-toc.rtl .tabbed-toc-tab {float:right}
}

@media (max-width:640px) {
  .tabbed-toc-time {display:none}
}