.stacked-toc {border:0}
.stacked-toc-header {
  line-height:inherit;
  height:auto;
}
.ltr .stacked-toc-header {padding-left:1em}
.rtl .stacked-toc-header {padding-right:1em}
.stacked-toc-header::before {
  content:"";
  position:absolute;
  top:50%;
  width:0;
  height:0;
  border:0 solid transparent;
  -webkit-transition:transform .15s cubic-bezier(.19,1,.22,1);
  -moz-transition:transform .15s cubic-bezier(.19,1,.22,1);
  transition:transform .15s cubic-bezier(.19,1,.22,1);
}
.ltr .stacked-toc-header::before {
  left:0;
  border-left-color:inherit;
  border-width:5px 0 5px 8px;
  margin-top:-5px;
}
.rtl .stacked-toc-header::before {
  right:0;
  border-right-color:inherit;
  border-width:5px 8px 5px 0;
  margin-top:-5px;
}
.ltr .stacked-toc-header.active::before {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  transform:rotate(90deg);
}
.rtl .stacked-toc-header.active::before {
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  transform:rotate(-90deg);
}
.stacked-toc-header a {
  display:inline;
  padding:0;
}
.stacked-toc .stacked-toc-loading {margin:0 .25em}
.stacked-toc ol {
  -webkit-transition-delay:.15s;
  -moz-transition-delay:.15s;
  transition-delay:.15s;
}
.stacked-toc li {padding:0 1.25em}
.stacked-toc li {margin-bottom:.5em}
.stacked-toc li:first-child {margin-top:.5em}
.stacked-toc li.ad .stacked-toc-title a {text-decoration:underline}
.stacked-toc-time {
  position:static;
  padding:0;
  font-size:.9em;
}
.has-image li .stacked-toc-image {margin-right:1em}
.has-image li .stacked-toc-title {
  font-size:100%;
  margin-bottom:0;
}
.has-excerpt:not(.has-image) li .stacked-toc-title {font:inherit}
.has-image .stacked-toc-title sup {
  vertical-align:baseline;
  margin:0 .25em;
}
.has-image li .stacked-toc-time {
  font-size:.9em;
  letter-spacing:0;
  text-transform:none;
}
.stacked-toc-excerpt {font-size:.8em}