/* Default Theme */
.stacked-toc {
  background:#333;
  color:#bbb;
  border:2px solid #fafafa;
  text-shadow:0 1px 0 rgba(0,0,0,.25);
  box-shadow:0 1px 2px rgba(0,0,0,.5);
}
.stacked-toc-loading .stacked-toc-header:not(.loading) a {
  pointer-events:none;
  opacity:.5;
}
.stacked-toc a {color:#5687f8}
.stacked-toc a:focus,
.stacked-toc a:hover {color:#6f98ff}
.stacked-toc a:visited {color:#5687b8}
.stacked-toc-header a,
.stacked-toc-header a:hover,
.stacked-toc-header a:visited {color:inherit}
.stacked-toc-header a:focus {color:#fff}
.stacked-toc-header {
  background:#333 none repeat-x 0 0;
  background-image:-webkit-linear-gradient(rgba(255,255,255,.025),rgba(0,0,0,0));
  background-image:-moz-linear-gradient(rgba(255,255,255,.025),rgba(0,0,0,0));
  background-image:linear-gradient(rgba(255,255,255,.025),rgba(0,0,0,0));
  box-shadow:inset 0 1px 0 rgba(255,255,255,.05),inset 0 -1px 0 rgba(0,0,0,.25);
}
.stacked-toc-header.active {
  background:#248ab0 none repeat-x 0 0;
  background-image:-webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.15));
  background-image:-moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.15));
  background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.15));
  color:#fff;
  box-shadow:inset 0 1px 0 rgba(255,255,255,.25),inset 0 -1px 0 rgba(0,0,0,.5);
  /* cursor:text; */
}
.stacked-toc-panel li:first-child,
.stacked-toc-panel li:last-child {border:0}
.stacked-toc-panel li {box-shadow:inset 0 1px 0 rgba(255,255,255,.05),inset 0 -1px 0 rgba(0,0,0,.25)}
.stacked-toc-panel li.ad {background:#3e3e2e}
.stacked-toc-panel .stacked-toc-title a,
.stacked-toc-panel .stacked-toc-time {padding:.5em 1em}
.stacked-toc-panel .stacked-toc-time {color:#777}