/* <abu-farhan.com> (obsolete domain) Theme */
.stacked-toc {
  border:0;
  color:#666;
  overflow:visible;
}
.stacked-toc-header a,
.stacked-toc-header a:focus,
.stacked-toc-header a:hover,
.stacked-toc-header a:visited,
.stacked-toc-header.active a {color:#fff}
.stacked-toc-header {
  line-height:2em;
  height:2em;
  background:#666 none repeat-x 0 0;
  background-image:-webkit-linear-gradient(rgba(255,255,255,.15),rgba(0,0,0,0));
  background-image:-moz-linear-gradient(rgba(255,255,255,.15),rgba(0,0,0,0));
  background-image:linear-gradient(rgba(255,255,255,.15),rgba(0,0,0,0));
  border:2px solid #fff;
  border-radius:.5em;
  text-shadow:0 1px 0 rgba(0,0,0,.25);
  box-shadow:0 1px 3px rgba(0,0,0,.4);
}
.stacked-toc-header.active {
  background:#f47d00 none repeat-x 0 0;
  background-image:-webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  background-image:-moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  /* cursor:text; */
}
.stacked-toc-time {color:#777}
.stacked-toc ol {padding:0 .5em}
.stacked-toc ol.active {margin:.5em 0}
.stacked-toc .stacked-toc-loading {margin:0 .25em}
.stacked-toc-loading + ol.active {margin:0}
.stacked-toc li {
  padding-right:.75em;
  padding-left:.75em;
}
.has-image li {padding:.75em}
.stacked-toc li:nth-child(odd) {background-color:rgba(0,0,0,.05)}
.stacked-toc li.ad {background-color:rgba(75,139,244,.15)}
.stacked-toc-panel:not(.active) + .stacked-toc-header {margin-top:1px}