/* <abu-farhan.com> (obsolete domain) Theme */
.stacked-toc {
  border:0;
  color:#666;
  overflow:visible;
}
.stacked-toc-loading .stacked-toc-header:not(.loading) a {
  pointer-events:none;
  opacity:.5;
}
.stacked-toc-header a,
.stacked-toc-header a:focus,
.stacked-toc-header a:hover,
.stacked-toc-header a:visited,
.stacked-toc-header.active a {color:#fff}
.stacked-toc-header {
  line-height:2.5em;
  height:2.5em;
  background:#666 none repeat-x 0 0;
  background-image:-webkit-linear-gradient(rgba(255,255,255,.15),rgba(0,0,0,0));
  background-image:-moz-linear-gradient(rgba(255,255,255,.15),rgba(0,0,0,0));
  background-image:linear-gradient(rgba(255,255,255,.15),rgba(0,0,0,0));
  border:2px solid #fff;
  border-radius:.5em;
  text-shadow:0 1px 0 rgba(0,0,0,.25);
  box-shadow:0 1px 3px rgba(0,0,0,.4);
}
.stacked-toc-header.active {
  background:#f47d00 none repeat-x 0 0;
  background-image:-webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  background-image:-moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  /* cursor:text; */
}
.stacked-toc-panel + .stacked-toc-header {margin-top:1px}
.stacked-toc-panel {padding:0 .5em}
.stacked-toc-panel.active {margin:.5em 0}
.stacked-toc-panel li:first-child,
.stacked-toc-panel li:last-child {border:0}
.stacked-toc-panel li:nth-child(odd) {background-color:rgba(0,0,0,.05)}
.stacked-toc-panel li.ad {background-color:rgba(75,139,244,.15)}
.stacked-toc-panel li.stacked-toc-loading {background-color:transparent}
.stacked-toc-panel .stacked-toc-title a,
.stacked-toc-panel .stacked-toc-time {padding:.5em 1em}
.stacked-toc-panel .stacked-toc-time {color:#777}