.js-comic {
  background:#000;
  color:#fff;
  box-shadow:0 1px 5px rgba(0,0,0,.5);
}
.js-comic-controls a,
.js-comic-controls b,
.js-comic-controls span {
  background:#900;
  color:#fff;
}
.js-comic-controls p > span a:focus,
.js-comic-controls p > span a:hover {background:#a00}
.js-comic-controls p > span b {background:#666}